@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,900&family=Source+Code+Pro:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

.fluid{
    padding: 0px;
    position: fixed;
    z-index: 1px;
    
   }
.font-brand{
  color:white;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-nav{
    margin-left: auto;
    
}
.nav-item{
    
    padding-left: 20px;
}
.container-carousel {
  position: relative;
  width: 100%;
  height: auto;
  z-index: -1;
  padding-bottom: 20px;
  
  
}


.container-main{
  height: auto
  width: 100%;
}
.main-post{
  margin-bottom: 30px;
}
.p-img {
  text-align: center;
  font-size: 0.8rem;
}
.p-date{
  font-size: 0.8rem;
  float: right;
}
.p-name{
  font-size: 0.8rem;
  float: left;
}
.p-post{
 float: left;
 text-align: justify;
}
.main-footer{
  overflow: hidden;
}
.center-footer{
  display:block;
  width: 50%;
  height: 200px;
  padding: 60px;
  margin: 0 auto;
}

  
li{
  display: inline-block;
  float: left;
  
}
li a{
  padding: 50px;
}


h6{
  text-align:left;
}

.icons a:hover{
  color: #d14f47;
}




@media (min-width:250px){
  
  .container-carousel{
    padding-top: 90px;
  }
  .main-footer{
  }
  .center-footer{
    margin-top:30px;
    width: 80%;
    height: 30px;
  }
 .icons{
   width: 150px;
   height: auto;
   display:block;
   margin: 0 auto;
   
 }
  .icons a{
    display: inline-block;
    width: 20px;
    height: 20px;
    color: white;
    margin-left: 10px;
  }
 .pfooter{
   
   color: white;
   font-size: 0.5rem;
   text-align: center;
   padding: 50px;
 }
  
  
}
@media (min-width:576px){
  
   
}


@media (min-width:768px){
  
  h6{
    text-align:left;
    padding-top: 10px;
  }
  .icons{
    width: 200px;
    height: auto;
    display:block;
    margin: 0 auto;
    
  }
  .icons a{
    display: inline-block;
    font-size: 30px;
    color: white;
    margin-left: 20px;
  }
 .pfooter{
   
   color: white;
   font-size: 1rem;
   text-align: center;
   padding: 50px;
 }
  


 }


@media (min-width:992px){
}
 



  
 


