@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,900&family=Source+Code+Pro:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');


.fluid{
    padding: 0px;
    position: fixed;
    z-index: 1px;
    
   }
.font-brand{
  color:white;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-nav{
    margin-left: auto;
    
}
.nav-item{
    
    padding-left: 20px;
}
.container-carousel {
  position: relative;
  width: 100%;
  height: auto;
  z-index: -1;
  
}


.container-main{
  height: 1000px;
  width: 100%;
}
.main-post{
  margin-bottom: 30px;
}
.p-img {
  text-align: center;
  font-size: 0.8rem;
}
.p-date{
  font-size: 0.8rem;
  float: right;
}
.p-name{
  font-size: 0.8rem;
  float: left;
}
.p-post{
 float: left;
 text-align: justify;
}


@media (min-width:992px){
 

@media (min-width:768px){
  
 
 }
 @media (min-width:576px){
   
  .container-carousel{

    top: 50px;
  }
  .container-main{
    margin-top: 100px;
  }
  
 
}
@media (min-width:456px){
  .container-carousel{

    top: 90px;
  }
  .container-main{
    padding-top: 20px;
    margin-top: 100px;
  }
  
  
}
